<!DOCTYPE html>
<html>
  <head>
    {% include "include/header_css.html" %}
    </head>
    <body>
      <!-- Header-->
      {% include "include/header.html" %}
    <!-- Hero section -->
    <section class="hero bg-center bg-cover" style="background: url(img/hero-banner.jpg)">
      <div class="dark-overlay py-5">
        <div class="overlay-content">
          <div class="container py-5 text-white text-center">
            <h1>블로그 작성</h1>
            <p>블로그 내용을 작성해주세요</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog listing -->
    <section class="pt-5">
        <div class="container pt-5">
          <div class="row mb-5">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-12 card" id="forms">
                    <div class="card-header">Forms</div>
                    <div class="card-body">
                      <form action="" method="POST" enctype="multipart/form-data">
                        <fieldset>
                          <legend></legend>
                          <div class="form-group">
                            <label for="title">블로그 제목</label>
                            <input class="form-control" id="title" type="text" placeholder="블로그 제목을 입력하세요">
                          </div>
                          <div class="form-group">
                            <label for="title">블로그 카테고리</label>
                            <!-- get 방식일때는 카테고리 출력-->
                            {% for category in categories %}
                            <div class="form-check">
                                <input class="form-check-input" id="category" type="radio" name="category" value="{{category.name}}">{{category.name}}
                            </div>
                            {% endfor %}
                          </div>                      
                          <div class="form-group">
                            <label for="exampleInputPassword">블로그 내용</label>
                            <textarea class="form-control" id="exampleInputPassword" type="text" placeholder="블로그 내용을 입력하세요"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="title">블로그 사진</label>
                            <input class="" id="image" type="file">
                          </div>
                          <div class="form-check form-group">
                            <input class="form-check-input" id="checkbox-1" type="checkbox">
                            <label class="form-check-label" for="checkbox-1">Check me out</label>
                          </div>
                          <button class="btn btn-primary" type="submit">Submit</button>
                        </fieldset>
                      </form>
                    </div>
                </div>   
                <!-- 게시물에 이미지가 존재하는 경우 -->
              </div>
              <!-- Listing navigation -->
            </div>
  
          </div>
        </div>
      </section>
    {% include "include/footer.html" %}
    <!-- JavaScript files-->
    {% include "include/footer_css.html" %}
  </body>
</html>
