<!DOCTYPE html>
<html>
  <head>
    {% include "include/header_css.html" %}
    <script>
      function updateCheck(){
        if(confirm("정말로 수정하시겠습니까?")){
          document.updateForm.submit();
        } else {
          return false;
        }
       }
    </script>
    </head>
    <body>
      <!-- Header-->
      {% include "include/header.html" %}
    <!-- Hero section -->
    <section class="hero bg-center bg-cover" style="background: url(/static/img/hero-banner.jpg)">
      <div class="dark-overlay py-5">
        <div class="overlay-content">
          <div class="container py-5 text-white text-center">
            <h1>비밀번호 초기화 확인<h1>
            <!-- <p>비밀번호 초기화 블라블라~</p> -->
          </div>
        </div>
      </div>
    </section>
    <!-- Blog listing -->
    <section class="pt-5">
        <div class="container pt-5">
          <div class="row mb-5">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-12 mb-5 card" id="forms">
                    <h1>The password has been changed!</h1>
                    <p><a href="{% url 'login' %}">log in again?</a></p>
                </div>      
                <!-- 게시물에 이미지가 존재하는 경우 -->
              </div>
              <!-- Listing navigation -->
            </div>
          </div>
        </div>
      </section>
    {% include "include/footer.html" %}
    <!-- JavaScript files-->
    {% include "include/footer_css.html" %}
  </body>
</html>
