<meta charset="utf-8">
<header class="header">
    <!-- Top bar -->
    <div class="py-2 bg-dark text-white">
      <div class="container py-1">
        <div class="row align-items-center">
          <div class="col-lg-4">
            <ul class="list-inline mb-0 small">
              {% if user.is_authenticated  %}
              <li class="list-inline-item">
                <a class="reset-anchor" href="#">
                  {{ user.get_username  }}                 
                </a>
              </li>
              <li class="list-inline-item">
                <a class="reset-anchor" href="{% url 'logout'%}?next={% url 'posts' %}">
                  로그아웃              
                </a>
              </li>
              {% else %}
              <li class="list-inline-item">
                <a class="reset-anchor" href="{% url 'login'%}?next={{request.path}}">
                  로그인             
                </a>
              </li>
              {% endif %}
              <li class="list-inline-item">
                <a class="reset-anchor" href="{% url 'posts' %}">
                  리스트              
                </a>
              </li>
              <li class="list-inline-item">
                <a class="reset-anchor" href="{% url 'post-create' %}">
                  작성하기             
                </a>
              </li>              
            </ul>
          </div>
          <div class="col-lg-4 d-none d-lg-block text-center">
            <ul class="list-inline mb-0 small">
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>

          <!-- <div class="col-lg-4 d-none d-lg-block text-right">
            <div class="dropdown text-small"><a class="reset-anchor dropdown-toggle" id="destinations" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe-americas mr-2"></i>Destinations</a>
              <div class="dropdown-menu" aria-labelledby="destinations"><a class="dropdown-item text-small" href="#">France</a><a class="dropdown-item text-small" href="#">Germany</a><a class="dropdown-item text-small" href="#">Spain</a><a class="dropdown-item text-small" href="#">Egypt</a><a class="dropdown-item text-small" href="#">Thailand</a><a class="dropdown-item text-small" href="#">Indonesia</a><a class="dropdown-item text-small" href="#">Maldives</a></div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- Navbar 1 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
      <div class="container text-center"><a class="navbar-brand mx-auto" href="{% url 'posts' %}"><h3>Django 블로그 프로젝트 블로그</h3>
          <p class="text-small text-uppercase text-gray mb-0">Django 블로그에 오신 걸 환영합니다</p></a></div>
    </nav>
  </header>