<!DOCTYPE html>
<html>
  <head>
    {% include "include/header_css.html" %}
    <script>
      function createCheck(){
        if(confirm("정말로 작성하시겠습니까?")){ 
          document.createForm.submit();
        } 
      }
    </script>
    </head>
    <body>
      <!-- Header-->
      {% include "include/header.html" %}
    <!-- Hero section -->
    <section class="hero bg-center bg-cover" style="background: url(/static/img/category-3.jpg)">
      <div class="dark-overlay py-5">
        <div class="overlay-content">
          <div class="container py-5 text-white text-center">
            <h1>블로그 작성</h1>
            <p>새로운 블로그 내용을 작성해주세요</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog listing -->
    <section class="pt-5">
        <div class="container pt-5">
          <div class="row mb-5">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-lg-12 mb-5" id="forms">
                    <div class="card-header">작성</div>
                    <div class="card-body">
                      <form name="createForm" method="POST" action="{% url 'post-create' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                          {% for field in form %}
                          <div class="form-group">
                            <label for="colFormLabel">{{ field.label_tag }}</label>
                            {{ field }}
                          </div>
                          {% endfor %}
                          <!-- {% if user.is_authenticated  %}
                          <input type="text" name="user" id="id_user" value="{{ user.get_username }}"  readonly/>
                          {% endif %} -->
                          <input type="button" onclick="createCheck()" class="btn btn-primary" value="작성하기"/>
                        </fieldset>
                        <!-- {% if user.is_authenticated  %}
                          <input type="hidden" id="id_user" name="user" value="{{ user.get_username }}" />
                        {% endif %} -->
                      </form>
                    </div>
                </div>   
                <!-- 게시물에 이미지가 존재하는 경우 -->
              </div>
              <!-- Listing navigation -->
            </div>
             {% include "include/post_side_bar.html" %}
          </div>
        </div>
      </section>
    {% include "include/footer.html" %}
    <!-- JavaScript files-->
    {% include "include/footer_css.html" %}
  </body>
</html>
