<!DOCTYPE html>
<html>
  <head>
    {% include "include/header_css.html" %}
    <script>
      function updateCheck(){
        if(confirm("정말로 수정하시겠습니까?")){
          document.updateForm.submit();
        } else {
          return false;
        }
       }
    </script>
    </head>
    <body>
      <!-- Header-->
      {% include "include/header.html" %}
    <!-- Hero section -->
    <section class="hero bg-center bg-cover" style="background: url(/static/img/hero-banner.jpg)">
      <div class="dark-overlay py-5">
        <div class="overlay-content">
          <div class="container py-5 text-white text-center">
            <h1>블로그 수정</h1>
            <p>수정할 블로그 내용을 작성해주세요</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog listing -->
    <section class="pt-5">
        <div class="container pt-5">
          <div class="row mb-5">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-12 card" id="forms">
                    <div class="card-header">Forms</div>
                    <div class="card-body">
                      <form name="updateForm" method="POST" action="{% url 'post-update' post.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                          {% for field in form %}
                          <div class="form-group">
                            <label for="colFormLabel">{{ field.label_tag }}</label>
                            {{ field }}
                          </div>
                          {% endfor %}
                          <input type="button" onclick="updateCheck()" class="btn btn-primary" value="수정하기"/>
                        </fieldset>
                      </form>
                    </div>
                </div>   
                <!-- 게시물에 이미지가 존재하는 경우 -->
              </div>
              <!-- Listing navigation -->
            </div>
  
          </div>
        </div>
      </section>
    {% include "include/footer.html" %}
    <!-- JavaScript files-->
    {% include "include/footer_css.html" %}
  </body>
</html>
